
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700&display=swap');
body, html { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?cs=srgb&dl=pexels-c%C3%A1tia-matos-1072179.jpg&fm=jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
}
.flex { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper {
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(20px);
    padding: 40px 50px;
    border-radius: 10px;
}
h1 {
    letter-spacing: -2px;
    color: white;
    font-size: 40px;
    margin-left: 20px;
}
#myForm input[type=text], #myForm input[type=password], #myForm select {
    display: block;
    margin: 10px 20px;
    padding: 20px;
    width: 30em;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255,  0.075);
    outline: none;
}
#myForm input[type=submit] {
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #6B7957;
    border: none;
    padding: 1em 3em;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}
span {
    color: #ffffff85;
    font-weight: 300;
    font-size: 12px;
    margin-left: 20px;
}
